In [1]:
import pandas as pd

In [2]:
csv = ('election_data.csv')
df = pd.read_csv(csv)
df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [3]:
tot_votes = df['Voter ID'].count()
tot_votes

3521001

In [4]:
# group by Candidate
group_df = df.groupby(['Candidate'])
# count votes
newdf = group_df.count()
# rename column
renamed_df = newdf.rename(columns={'Voter ID':'Vote Count'})
# calculate percent of total
percentotal = renamed_df["Vote Count"]/tot_votes
# rename column
renamed_df["Percent of Total"] = percentotal
# remove arbitrary column
reduced_df = renamed_df[["Vote Count","Percent of Total"]]
# print
reduced_df

           Vote Count  Percent of Total
Candidate
Correy         704200              0.20
Khan          2218231              0.63
Li             492940              0.14
O'Tooley       105630              0.03

In [24]:
# reformat to %
format_dict = {'Vote Count':'{0:,.0f}', 'Percent of Total': '{:.2%}'}
reformat = reduced_df.style.format(format_dict)
reformat

In [32]:
print(f'-----------------------')
print(f'Election Results')
print(f'-----------------------')
print(f'Total Votes: {tot_votes}')
print(f'-----------------------')
print(f'{reduced_df}')
print(f'-----------------------')
print(f'Winner: Khan')
print(f'-----------------------')

-----------------------
Election Results
-----------------------
Total Votes: 3521001
-----------------------
           Vote Count  Percent of Total
Candidate
Correy         704200              0.20
Khan          2218231              0.63
Li             492940              0.14
O'Tooley       105630              0.03
-----------------------
Winner: Khan
-----------------------

In [33]:
# form text for output
text = (
    f"----------------------------\n"
    f"Election Results\n"
    f"----------------------------\n"
    f"Total Votes: {tot_votes}\n"
    f"----------------------------\n"
    f"{reduced_df}\n"
    f"----------------------------\n"
    f"Winner: Khan\n"
    f"----------------------------\n"
)

In [34]:
# define output
pathout = ("pollinfo.txt")

In [35]:
# write to file
with open(pathout, "w") as txt_file:
    txt_file.write(text)