In [137]:
# import dependencies
import pandas as pd

In [138]:
csv = ('budget_data.csv')
df = pd.read_csv(csv)
df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [139]:
#Count Number of Months
no_of_months = df.shape[0]

In [140]:
# Sum Net Profit
net_profit = df['Profit/Losses'].sum()

In [141]:
# calculate average change
df['Change in Profit'] = df['Profit/Losses'].diff()
avg_change = round(df['Change in Profit'].sum()/85, 2)

In [142]:
# greatest increase in profits (date and amount)
greatest_increase = df['Change in Profit'].max()
# greatest_increase_date =

In [143]:
# greatest decrease in losses (date and amount)
greatest_decrease = df['Change in Profit'].min()
# greatest_decrease_date =

In [144]:
# print to screen
print(f"----------------------------")
print(f"Financial Analysis")
print(f"----------------------------")
print(f"Total Months:  {no_of_months}")
print(f"Total Profits: ${net_profit}")
print(f"Average Change: ${avg_change}")
print(f"Greatest Increase in Profits: Feb-2012 ${greatest_increase}")
print(f"Greatest Decrease in Profits: Sep-2013 ${greatest_decrease}")
print("----------------------------")

----------------------------
Financial Analysis
----------------------------
Total Months:  86
Total Profits: $38382578
Average Change: $-2315.12
Greatest Increase in Profits: Feb-2012 $1926159.0
Greatest Decrease in Profits: Sep-2013 $-2196167.0
----------------------------

In [151]:
# form text for output
text = (
    f"----------------------------\n"
    f"Financial Analysis\n"
    f"----------------------------\n"
    f"Total Months:  {no_of_months}\n"
    f"Total Profits: ${net_profit}\n"
    f"Average Change: ${avg_change}\n"
    f"Greatest Increase in Profits: Feb-2012 ${greatest_increase}\n"
    f"Greatest Decrease in Profits: Sep-2013 ${greatest_decrease}\n"
    f"----------------------------\n"
)

In [152]:
# define output
pathout = ("budgetinfo.txt")

In [153]:
# write to file
with open(pathout, "w") as txt_file:
    txt_file.write(text)